
    * {
    }
    
    body {
    margin: 0;
    border: none;
    padding: 0;
    padding-top: 90px;
    background: #000;
    overflow-x: hidden;
    }
    

    
.desktop-only {
  display: none;
  }
      
.mobile-only {
  display: unset;
  }
  
.tablet-only{
  display: none;
  }






  #loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
  
.center {
    position: fixed;
    z-index: 3000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}







  
       
    .circle {
display: none;
}

  
.swiper {
  margin: 0px;
  border-radius: 20px;
        }
  
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          border-radius: 20px;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;  
        }

        .main-slider{
          height: 234px;
          width: 90%;
        }

        .main-slider .swiper-wrapper{
          z-index: 40;
          border-radius: 30px;
          position: unset;
        }
        
        .main-slider .swiper-wrapper img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
        

        .swiper-horizontal>.article-swiper-pagination, .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
          border-radius: 20px;
          padding: 15px 10px 10px;
          bottom: 10px;
        }

        .swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
          transition: .2s transform,.2s right;
          background: #fff;
          opacity: 1;
        }
        
        .btnContainer {
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
          -webkit-mask: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99));
      }


.center-container{
    margin: auto;
    width: 100%;
}

.top{
  top: 0;
  position: fixed;
  background-color: #3246ff94;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 70px;
  z-index: 300;
}

.top-menu a{
  padding: 6px 29px;
  color: #fff;
  text-decoration: none;
}


body[light-mode="dark"] .top {
  background: #fff;
 }
 

body[light-mode="dark"] .top a {
 color : #333
}

#navbar-bg {
display: none;
}


.dropdown {
  overflow: hidden;
  font-weight: bold;
}

.dropdown .dropbtn {
  padding: 6px 30px;
  outline: none;
  border: 0;
  background-color: inherit;
  font: inherit;
  margin: 0;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

body[light-mode="dark"] .dropdown .dropbtn {
 color : #333;
 cursor: pointer;
}


.top-menu a:hover, .dropdown:hover .dropbtn {
  cursor: pointer;
}

.dropdown-content {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  display: flex;
  width: 500px;
  top: 85px;
  overflow: hidden;
  background-color: #00000075;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 5px 25px 25px 25px;
  box-shadow: 0px 8px 50px 0px rgb(255 255 255 / 16%);
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
}

body[light-mode="dark"] .dropdown-content {
  background-color: #ffffff75;
  box-shadow: 0px 8px 60px 0px rgb(14 0 255 / 16%);
 }


.dropdown-content a {
  width: 150px;
  padding: 20px;
  }
  

.dropdown-content .header {
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
visibility: unset;
opacity: 1;
top:100px;
}

/* Create three equal columns that floats next to each other */
.column {
  padding: 10px;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}



.search-field {
  width: 300px;
  margin-left: 40px !important;
 }
 
 .search-submit {
  border: none;
  background-color: #2e35c5;
  border-radius: 50px;
  padding: 5px 11px !important;
  transform: translateX(-80px);
  left: 6px;
  margin: 5px !important;
  color: #fff;
  width: min-content;
  font-weight: bold;
 }


 .top-menu-item-container{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: stretch;
  direction: ltr;
  z-index: 20;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 500;
  font-size: 20px;
  top: 0;
  right: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #3246ff8f;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: #1a164cad 3px 3px 90px 3px;
}


body[light-mode="dark"] .top-menu-item-container {
  background: rgba(255, 255, 255, 0.603);
 }
 
 body[light-mode="dark"] .top-menu a {
  color : #333
 }
 


.flex-top-box-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    direction: rtl;
    flex-direction: column;
}

.crypto-price-box {
display: none;
}

.crypto-icon img {
  max-width: 30px;
}

td {
  padding-left: 25px;
}

th:nth-of-type(2),
td:nth-of-type(2) {
  text-align: center;
}

.positive {
  color: #6abe2a;
  font-weight: 600;
}

.negative {
  color: #ff0000;
  font-weight: 600;  
}


.toolbar {
    background-color: #3246ff94;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    height: 70px;
    z-index: 600;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 30px 30px 0 0;
}

.symbol {
    display: none;
}

.logo{
  width: 150px;
  margin-right: 54px;
  filter: brightness(40);
}

body[light-mode="dark"] .logo{
  filter: brightness(10);
}




.flex-item-container{
    display: flex;
    margin: 5px auto;
    width: 90%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.flex-item-container img {
 width: 38px;
 margin: 10px;
}


body[light-mode="dark"] .flex-item-container img {
   filter: brightness(0);
  }



.wrapper-title {
color: #fff;
font-size: 16px;
}


body[light-mode="dark"] .wrapper-title {
  color: #333;
  }


.scrolling-wrapper {
-webkit-mask:linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99)), linear-gradient(to left, transparent, rgba(0, 0, 0, 0.99));
padding: 20px 0px 0 20px;
border-radius: 0;
}

.card {
  background: #1a164c;
  overflow: hidden;
  transition: 0.2s;

  /* for filtering system display: none;*/
}

  

.swiper .card {
  height: 125px;
  margin-right: 12px;
  border-radius: 15px;
        }

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
}


.card:hover .product-info-container {
  opacity: 1;
  }
  
.card:hover {
  transform: scale(1.1);
}

.product-info-container {
  position: absolute;
  opacity: 0;
  transition: 0.2s;
  color: #fff;
  bottom: 0;
  height: 100px;
  background: linear-gradient(to top, #000000ad, #00000000);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}


.product-slide-title {
  font-weight: bold;
}

.product-slide-price {
  margin-bottom: 10px !important;
}


.wrapper-title-filter-container {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  top: 20px;
}

.product-info-container p {
padding: 0px;
margin: 0px 15px;
font-size: 14px;
}


.filter01 {
  display: none;
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
}

.show {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */

.btn01 {
  border: solid 2px #fff;
  padding: 5px 10px;
  border-radius: 40px;
  outline: none;
  margin-right: 3px;
  margin-bottom: 25px;
  cursor: pointer;
  background: #0000;
  color: #fff;
  font-size: 12px;
  transition: 0.2s;
}


body[light-mode="dark"] .btn01 {
  border: solid 2px #4853f9;
  color: #4853f9;
}

.btn01:hover {
padding: 5px 20px;
}

body[light-mode="dark"] .btn01.active {
  background-color: #4853f9;
  color: #fff;
  border: solid 2px #4853f9;
}

.btn01.active { 
  padding: 5px 20px;
  background-color: #ffffff;
  color: #2e35c5;
  border: solid 2px #fff;

}





/*******************************************************/




  /*********** modal **************** */

  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0px;
  border-radius: 20px 20px 0 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #333;
  float: right;
  margin: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


/*-------------*/

.search-field{
  border: 2px solid #2e3192;
  background-color: #ffffff;
  border-radius: 80px;
  padding: 10px !important;
  width: 100% !important; 
margin: 0 !important;
}

.search-submit{
  border: none;
  background-color: #2e3192;
  border-radius: 50px;
  padding: 7px 10px;
  position: absolute;
  left: 22px;
  margin: 5px !important; 
  color: #fff;
  width: min-content;
  font-weight: bold;

}

.search-form{
  margin: 5px;
}



#sidemenu-btn {
  position: fixed;
  height: 35px;
  border-radius: 50px;
  margin: 15px 10px;
  color: #444;
  z-index: 100;
  right: -35px;
}

#sidemenu-btn span {
  font-size: 0px;
  cursor: pointer;
}

#sidemenu-btn span img {
  width: 20px;
  text-align: center;
  padding: 10px;
  right: 40px;
  margin-right: 40px;
  border-radius: 0;
  filter: contrast(0.1) brightness(10);
}


body[light-mode="dark"] #sidemenu-btn span img {
  filter: unset;
 }

.mobile-logo {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

 
.mobile-logo img {
  width: 130px;
  margin: 15px;
  border-radius: 0;
}

#searchModalBtn {
  left: 0;
  float: left;
  padding: 25px;
  position: fixed;
}

#searchModalBtn img {
  filter: contrast(0.1) brightness(10);
}

body[light-mode="dark"] #searchModalBtn img {
  filter: unset;
   }


  .custom-ad {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  